<html>
    <head>
        <title>Student Scores</title>
    </head>
    <body>
        <div>
            Score List:<br/>
            <form id="score_form">
                S1 <input type="text" name="score[]"><br/>
                S2 <input type="text" name="score[]"><br/>
                S3 <input type="text" name="score[]"><br/>
                S4 <input type="text" name="score[]"><br/>
                S5 <input type="text" name="score[]"><br/>
                <input type="submit" value="Submit">
            </form>
            <p id="result"></p>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="score.js" charset="utf-8"></script>
    </body>
</html>